<% if @users.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Сотрудник</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each.with_index(1) do |user, i| %>
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= link_to user.full_name, user_path(user) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
